.page {
  display: grid;
  height: 100%;
  place-content: center;
  place-items: center;
  width: 100%;
  background-color: #2196f3;
}

.formLayout {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
}